<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cMap_Duplicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <cMap_Duplicator.Properties.Settings>
            <setting name="x_size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="y_size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="x_loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_loc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="resize_to_ratio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="refresh_rate" serializeAs="String">
                <value>20</value>
            </setting>
        </cMap_Duplicator.Properties.Settings>
    </userSettings>
</configuration>